E-Commerce.sln
E-Commerce/E-Commerce.csproj
E-Commerce/E-Commerce.csproj.user
E-Commerce/E-Commerce.http
E-Commerce/appsettings.json
E-Commerce/bin/
E-Commerce/obj/
E-Commerce/Properties/
.vs/
ECommerce.Infrastructure/obj/
ECommerce.Infrastructure/bin/
E-Commerce.Domain/obj/
E-Commerce.Domain/bin/
E-Commerce.Repository/obj/
E-Commerce.Repository/bin/
E-Commerce.Application/obj/
E-Commerce.Application/bin/
logs/
E-Commerce.Tests/obj/
E-Commerce.Tests/bin/